In [1]:
import dash
from dash import html
import plotly.graph_objects as go
from dash import dcc
import plotly.express as px
from dash.dependencies import Input, Output 
import pandas as pd

In [2]:
# df = pd.read_csv("https://raw.githubusercontent.com/Jks08/Exploratory-Data-Analysis/main/IBM_HR.csv")
# df = pd.read_csv("https://github.com/Jks08/Exploratory-Data-Analysis/blob/main/IBM_HR.csv")
df = pd.read_csv("IBM_HR.csv")
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [3]:
app = dash.Dash()

In [4]:
app.layout = html.Div(id="parent",
children = [html.H1(id="IBM_HR", children='IBM HR Attrition Analysis', style={'textAlign':'center'}),
dcc.Dropdown(id="dropdown",
options=[
    {'label':'DailyRate', 'value':'DailyRate'},
    {'label':'DistanceFromHome', 'value':'DistanceFromHome'},
    {'label':'Education', 'value':'Education'},
    {'label':'StandardHours', 'value':'StandardHours'},
], value='DailyRate'), dcc.Graph(id="graph")])

In [5]:
@app.callback(Output("graph", "figure"), [Input("dropdown", "value")])
# def update_graph(dropdown):
#     fig = px.histogram(df, x=dropdown, color="Attrition", title=f"Attrition vs {dropdown}")
#     return fig

# def update_graph(dropdown):
#     print(dropdown)
#     fig = go.Figure([go.Scatter(x=df['Age'],y=df['{}'.format(dropdown)],line=dict(color='firebrick'), mode='lines+markers', name='{}'.format(dropdown))])
#     fig.update_layout(title=f"Attrition vs {dropdown}", xaxis_title="Age", yaxis_title="{}".format(dropdown))
#     return fig

def update_graph(dropdown):
    print(dropdown)
    fig = go.Figure([go.Bar(x=df['Age'],y=df['{}'.format(dropdown)])])
    fig.update_layout(title=f"Attrition vs {dropdown}", xaxis_title="Age", yaxis_title="{}".format(dropdown))
    return fig

In [6]:
if __name__=='__main__':
    app.run_server(port=8050)

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:8050
Press CTRL+C to quit
127.0.0.1 - - [21/Jan/2023 13:13:06] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [21/Jan/2023 13:13:06] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 304 -
127.0.0.1 - - [21/Jan/2023 13:13:06] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 304 -
127.0.0.1 - - [21/Jan/2023 13:13:06] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 304 -
127.0.0.1 - - [21/Jan/2023 13:13:06] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [21/Jan/2023 13:13:06] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [21/Jan/2023 13:13:06] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 304 -
127.0.0.1 - - [21/Jan/2023 13:13:06] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 304 -
127.0.0.1 - - [21/Jan/2023 13:13:06] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 304 -
127.0.0.1 - - [21/Jan/2023 13:13:06] "POST /_dash-update-component HTTP/1.1" 200 -

DailyRate

127.0.0.1 - - [21/Jan/2023 13:13:10] "POST /_dash-update-component HTTP/1.1" 200 -

DistanceFromHome

127.0.0.1 - - [21/Jan/2023 13:13:12] "POST /_dash-update-component HTTP/1.1" 200 -

Education

127.0.0.1 - - [21/Jan/2023 13:13:14] "POST /_dash-update-component HTTP/1.1" 200 -

StandardHours